.gif-view {
  display: inline-block;
  font-size: 0.9em;
}

.gif-view.as-grid {
  min-height: 50px;
  max-width: 100px;
}

.gif-view img {
  max-width: 100%;
  opacity: 0.01;
}

.gif-view.ready img {
  opacity: 1;
  transition: opacity ease-in 0.5s;
}

.gif-view video {
  max-width: 100%;
  margin: 0 auto;
}

.gif-view.loading {
  position: relative;
}

.gif-view.as-grid.loading:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: no-repeat center center transparent url('../../assets/images/recycle.svg');
  animation: recycle-spin infinite 1s linear;
}

.gif-view.error {
  width: 100px;
  height: 100%;
}

.gif-view.error img {
  margin: 0 auto;
  opacity: 1;
}

@media (min-width: 768px) {
  .gif-view.as-grid {
    max-width: 200px;
  }

  .gif-view.as-grid.error {
    width: 200px;
  }
}

@keyframes recycle-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
