.gif-dataset {
  display: flex;
  flex-direction: column;
  margin: 0 auto 16px;
  max-width: 1260px;
}

.gif-dataset .info {
  text-align: left;
  margin-bottom: 1.25em;
}

.gif-dataset .info h1 {
  display: inline;
}

@media (min-width: 620px) {
  .gif-dataset {
   margin-bottom: 42px;
 }
}