.viewport {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.viewport ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.viewport ul::-webkit-scrollbar {
  display: none;
}

.viewport.debug-colored {
  background-color: yellow;
}
.viewport .debug-box {
  position: absolute;
  top: 0;
  z-index: 100;
}

/* ----------------------------------
Modified behavior
---------------------------------- */

/* scroll-x */
.viewport.scroll-x {
  overflow-x: auto;
}

.viewport.scroll-x ul {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  height: 100%;
}

.viewport.scroll-x li {
  flex: 0 0 auto;
  margin: 0 3px;
}

/* scroll-y */
/* .viewport.scroll-y {} */

.viewport.scroll-y.constrained {
  overflow-y: auto;
}

.viewport.scroll-y ul {
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100%;
  min-height: 50px;
  /* TODO: make height dynamic */
  max-height: 810px;
  padding-bottom: 12px;
}

.viewport.scroll-x li {
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .viewport.scroll-y ul {
    min-height: 200px;
  }
}