.viewport {
  width: 100%;
  margin: 0 auto;
  max-height: 600px;
}

.viewport ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

/* ----------------------------------
Modified behavior
---------------------------------- */

/* scroll-x */
.viewport.scroll-x {
  overflow-x: scroll;
}

.viewport.scroll-x ul {
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  height: 100%;
}

.viewport.scroll-x li {
  margin: 0 3px;
}

/* scroll-y */
.viewport.scroll-y {
  overflow-y: scroll;
}

.viewport.scroll-y ul {
  flex-flow: column wrap;
  justify-content: space-around;
  /* TODO: make height dynamic */
  max-height: 810px; 
}
