.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #333;
}

.App > [class^=app-] {
  width: 100%;
}

.App > .app-header {
  z-index: 0;
  flex: 0 78px;
  display: flex;
  justify-content: center;
  background-color: #f3c6d5;
}

.App > .app-content {
  flex: 1 1 calc(100vh - 68px);
  width: auto;
  overflow: auto;
  padding: 20px 0;
}

.App.fixed-header {
  padding: 20px 0;
}

.App.fixed-header > .app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #ff7f50;
}